<script src="angular.min.js"></script>
<script>
app=angular.module("myapp",[])
app.controller("c1",funcb)
function funcb($scope,$http){
	$scope.fun2=function(){
		ob={uname:"scott"}
	$http({
	method:"post",
	url:"met2",data:ob
	}).then(function(dt){
	alert(dt.data)
	})
		}
	$scope.fun1=function(){
	$http.get("met1").then(function(dt){
	alert(dt.data)
	})
		}
	}
</script>
<body ng-app="myapp" ng-controller="c1">
<button ng-click="fun1()">Click1</button>
<input type="button" value="Click2" ng-click="fun2()">